<!DOCTYPE html>
<html>
<h1>Listing car_dealerships</h1>

<table border ="1">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Number</th>

  </tr>

<% @car_dealerships.each do |car_dealership| %>
  <tr>
    <td><%= car_dealership.name %></td>
    <td><%= car_dealership.address %></td>
    <td><%= car_dealership.number %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to "Cars in stock", "/cars/index" %>  <br>
<%= link_to "Home", "/home/index" %>
 </html>
