<!DOCTYPE html>
<html>
<h1>Listing Available cars</h1>

<table border ="1">
  <tr>
    <th>Model</th>
    <th>Make</th>
    <th>Body</th>
    <th>Year</th>

  </tr>

<% @vehicle.each do |car| %>
  <tr>
    <td><%= car.model %></td>
    <td><%= car.make %></td>
    <td><%= car.body_type%></td>
    <td><%= car.year%></td>

  </tr>
<% end %>
</table>

<br />


<%= link_to "Car Dealerships in SA", "/cardealerships/index" %>   <br>
<%= link_to "Home", "/home/index" %>

</html>